/* Animations */
.slide-animation-container {
    position:relative;
}

.slide-animation.ng-enter, .slide-animation.ng-leave {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position: relative;
    /*top: 0;
    left: 0;
    right: 0;*/
    height: 1000px;
}

.slide-animation.ng-enter {
  z-index:100;
  left:100px;
  opacity:0;
}

.slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave {
  z-index:101;
  opacity:1;
  left:0;
}

.slide-animation.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}

body.skip-animations * {
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}

.show-hide-animation.ng-hide-add, 
.show-hide-animation.ng-hide-remove {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  display:block!important;
  height: 1000px;
}
 
.show-hide-animation.ng-hide-remove {
  opacity:0;
}
.show-hide-animation.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.show-hide-animation.ng-hide-add {
  opacity:1;
}
.show-hide-animation.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

.repeat-animation.ng-enter, 
.repeat-animation.ng-leave, 
.repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.repeat-animation.ng-enter {
  left:10px;
  opacity:0;
}
.repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.repeat-animation.ng-leave {
  left:10px;
  opacity:1;
}
.repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.repeat-animation.ng-move {
  opacity:0.5;
}
.repeat-animation.ng-move.ng-move-active {
  opacity:1;
}

.change {
    background-color: #FFD7C9!important;
}
.change-add,.change-remove {
  background-color: white!important;
  transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.change-add-active {
  background-color: #FFD7C9!important;
}
.change-remove {
    background-color: #FFD7C9!important;

}
.change-remove-active {
  background-color: white!important;
}

.change-up {
    background-color: #c1e2b3!important;
}
.change-up-add,.change-up-remove {
  background-color: white!important;
  transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.change-up-add-active {
  background-color: #c1e2b3!important;
}
.change-up-remove {
    background-color: #c1e2b3!important;

}
.change-up-remove-active {
  background-color: white!important;
}

.fadex {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fadex.ng-enter {
  opacity: 0;
}

.fadex.ng-enter.ng-enter-active {
  opacity: 1;
}


.fadex.ng-leave {
  opacity: 1;
}

.fadex.ng-leave.ng-leave-active {
  opacity: 0;
}

.ticker {
    list-style-type: none;
}

.col-xs-4 {
    height: 30px;
}