<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9"><a href="http://nls.ro" target="_blank">Nova Logic Soft SRL</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Address:</div>
                <div class="span9"><a href="http://www.salutbucuresti.ro/planoras/swf_map.htm?-11089&-8150" target="_blank">Romania, Bucharest, Aleea Barajul Iezeru Nr 6A, Cedru Building, Room 444</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">E-mail:</div>
                <div class="span9"><a href="mailto:office@nls.ro" target="_blank">office@nls.ro</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span3">Executive Manager:</div>
                <div class="span9">Radu Taraibuta</div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Phone:</div>
                <div class="span9">+40-723-45.6789</div>
            </div>
        </div>
    </div>
</div>


